*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: white;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.top .view-hs {
    color: rebeccapurple;
    padding-left: 10px;
}

.top .timer {
    display: flex;
    padding-right: 10px;
}

.info {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*display: none;*/
}

.info .info-title {
    margin-bottom: 10px;
}

.info .info-rules {
    margin-bottom: 10px;
}

.info .start-btn button {
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    background: rebeccapurple;
    border-radius: 5px;
}

.info .start-btn button:hover {
    background: rgb(175, 115, 200);
}

.quiz-box .questions {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-box .questions .que {
    margin-bottom: 10px;
}

.quiz-box .questions .options-list .option .choice {
    text-align: left;
    width: 150px;
    color: white;
    background: rebeccapurple;
    border-radius: 5px;
    margin-bottom: 5px;
}

.quiz-box .questions .options-list .option .choice:hover{
    background: rgb(175, 115, 200);
}