*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: white;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.top .view-hs {
    color: rebeccapurple;
    padding-left: 10px;
}

.top .timer {
    display: flex;
    padding-right: 10px;
}

.info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.info .info-title {
    margin-bottom: 10px;
}

.info .info-rules {
    margin-bottom: 10px;
}

.info .start-btn button {
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    background: rebeccapurple;
    border-radius: 5px;
}

.info .start-btn button:hover {
    background: rgb(175, 115, 200);
}

.quiz-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.quiz-box h1 {
    font-size: 25px;
    margin-bottom: 15px;
}

.quiz-box .buttons {
    display: flex;
    flex-direction: column;
}

.quiz-box .buttons .btn {
    text-align: left;
    width: 200px;
    color: white;
    background: rebeccapurple;
    border-radius: 5px;
    margin-bottom: 5px;
}

.quiz-box .buttons .btn:hover{
    background: rgb(175, 115, 200);
}

.quiz-box .buttons .btn:last-child {
    margin-bottom: 30px;
}

.correct {
    color: darkgray;
    border-top: 1px solid;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.incorrect {
    color: darkgray;
    border-top: 1px solid;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done h1, p {
    padding-bottom: 15px;
}

.done .submit {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: rebeccapurple;
    border-radius: 5px;
}

.done .submit:hover {
    background: rgb(175, 115, 200);
}